<div id="myCarousel" class="carousel slide row row3 quotes mt-5 pt-5" data-ride="carousel">
            <div class="carousel-inner col-xl-8 offset-xl-2 col-xxl-6 offset-xxl-3">
                                                                            <div class="carousel-item">
                        <div class="quote-wrapper">
                            <img title="Bozo Paradzik" alt="" class="img-fluid mr-5" src="{{ settings.ci1 | img_url : 'master' }}">
                            <div class="text">    
                                <p>{{ settings.c1 }}</p>
                                <span>{{ settings.a1 }}</span>
                            </div>
                        </div>
                    </div>
                                                                            <div class="carousel-item active">
                        <div class="quote-wrapper">
                            <img title="Janne Saksala" alt="" class="img-fluid mr-5" src="{{ settings.ci2 | img_url : 'master' }}">
                            <div class="text">    
                                <p>{{ settings.c2 }}</p>
                                <span>{{ settings.a2 }}</span>
                            </div>
                        </div>
                    </div>
                                                                            <div class="carousel-item">
                        <div class="quote-wrapper">
                            <img title="Petter Eldh" alt="" class="img-fluid mr-5" src="{{ settings.ci3 | img_url : 'master' }}">
                            <div class="text">    
                                <p>{{ settings.c3 }}</p>
                                <span>{{ settings.a3 }}</span>
                            </div>
                        </div>
                    </div>
                                                                            <div class="carousel-item">
                        <div class="quote-wrapper">
                            <img title="François Rabbath" alt="" class="img-fluid mr-5" src="{{ settings.ci4 | img_url : 'master' }}">
                            <div class="text">    
                                <p>{{ settings.c4 }}</p>
                                <span>{{ settings.a3 }}</span>
                            </div>
                        </div>
                    </div>
                                <div class="carousel-controls">
                    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>

        </div>